.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

# build
types/
cjs/
dist/
esm/
.rollup.cache/

# typescript
*.tsbuildinfo

# cache
.eslintcache

coverage
*.log