.button {
  @apply rounded px-8 py-1 outline-none text-white text-sm font-semibold leading-relaxed button-shadow bg-purple-500;

  &:hover {
    @apply button-shadow-hover bg-button-2;
  }

  &:focus {
    @apply outline-none widget-shadow-lightblue;
  }

  &:disabled {
    @apply cursor-default bg-acc-light-text;

    &:hover {
      @apply button-shadow bg-acc-light-text;
    }
  }
}

.outlined {
  @apply rounded px-12 py-1 outline-none font-semibold leading-relaxed border button-shadow bg-transparent text-button-1 border-button-1;

  &:hover {
    @apply border-button-2 text-button-2;
  }

  &:focus {
    @apply outline-none widget-shadow-lightblue;
  }

  &:disabled {
    @apply cursor-default border-acc-light-text text-acc-light-text;

    &:hover {
      @apply border-acc-light-text text-acc-light-text;
    }
  }
}

.link {
  @apply text-link-1 font-semibold text-sm leading-relaxed bg-transparent;

  &:hover {
    @apply text-link-2;
  }

  &:focus {
    @apply outline-none widget-shadow-lightblue;
  }

  &:disabled {
    @apply text-ld-darkgrey;

    &:hover {
      @apply text-ld-darkgrey;
    }
  }
}

.dark {
  @apply bg-primary;

  &:hover {
    @apply bg-acc-hoverblue;
  }
}

.red {
  @apply bg-acc-red;

  &:hover {
    @apply bg-acc-hoverred;
  }
}

.green {
  @apply bg-acc-green;

  &:hover {
    @apply bg-acc-hovergreen;
  }
}

.white {
  @apply bg-white text-link-1 shadow-none;

  &:hover {
    @apply bg-white/70;
  }

  &:disabled {
    @apply text-white;
  }
}

.gradient {
  background: linear-gradient(92.21deg, #6db0fc 11.79%, #5deda2 113.81%);

  &:disabled {
    background: linear-gradient(92.21deg, #6db0fc 11.79%, #5deda2 113.81%);
  }
}

.redText {
  @apply text-acc-red;

  &:hover {
    @apply text-acc-hoverred;
  }
}

.greenText {
  @apply text-acc-green;

  &:hover {
    @apply text-acc-hovergreen;
  }
}

.darkText {
  @apply text-primary;

  &:hover {
    @apply text-acc-hoverblue;
  }
}

.pill {
  @apply rounded-full text-base;
}

.underlined {
  @apply underline px-2;
}

.group {
  button:not(:last-of-type) {
    @apply mr-3;
  }
}
